<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.cuteluobo.livedanmuarchive.mapper.danmu.DanMuFormatModelMapper">
    <resultMap id="resultMap" type="com.github.cuteluobo.livedanmuarchive.model.DanMuFormatModel">
        <id column="id" property="id"/>
        <result column="font_color" property="fontColor"/>
        <result column="font_size" property="fontSize"/>
        <result column="transition_type" property="transitionType"/>
        <result column="popup_style" property="popupStyle"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,font_color,font_size,transition_type,popup_style
    </sql>
    <sql id = "selectorBaseSelectSql" >
        <if test="#{fontColor}!=null">
            font_color = #{fontColor}
        </if>
        <if test="#{fontSize}!=null">
            AND font_size = #{fontSize}
        </if>
        <if test="#{transitionType}!=null">
            AND transition_type = #{transitionType}
        </if>
        <if test="#{popupStyle}!=null">
            AND popup_style = #{popupStyle}
        </if>
    </sql>
    <select id="getListByModel" resultType="com.github.cuteluobo.livedanmuarchive.model.DanMuFormatModel">
        SELECT
        <include refid="Base_Column_List"/>
        FROM danmu_format
        <where>
            <include refid="selectorBaseSelectSql"/>
        </where>
    </select>
</mapper>