<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.cuteluobo.livedanmuarchive.mapper.main.DanmuSenderTaskMapper">
  <resultMap id="BaseResultMap" type="com.github.cuteluobo.livedanmuarchive.model.DanmuSenderTaskModel">
    <!--@mbg.generated-->
    <!--@Table danmu_sender_task-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="platform" jdbcType="LONGVARCHAR" property="platform" />
    <result column="video_creator_uid" jdbcType="LONGVARCHAR" property="videoCreatorUid" />
    <result column="video_id" jdbcType="LONGVARCHAR" property="videoId" />
    <result column="video_created_time" jdbcType="BIGINT" property="videoCreatedTime" />
    <result column="danmu_total_num" jdbcType="INTEGER" property="danmuTotalNum" />
    <result column="danmu_sent_num" jdbcType="INTEGER" property="danmuSentNum" />
    <result column="page_size" jdbcType="INTEGER" property="pageSize" />
    <result column="skip" jdbcType="BOOLEAN" property="skip" />
    <result column="task_fail" jdbcType="BOOLEAN" property="taskFail" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="finish_time" jdbcType="BIGINT" property="finishTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, platform, video_creator_uid, video_id, video_created_time, danmu_total_num, danmu_sent_num, 
    page_size, skip, task_fail, create_time, update_time, finish_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from danmu_sender_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from danmu_sender_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.github.cuteluobo.livedanmuarchive.model.DanmuSenderTaskModel" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into danmu_sender_task (platform, video_creator_uid, 
      video_id, video_created_time, danmu_total_num, 
      danmu_sent_num, page_size, skip, 
      task_fail, create_time, update_time,
      finish_time)
    values (#{platform,jdbcType=LONGVARCHAR}, #{videoCreatorUid,jdbcType=LONGVARCHAR}, 
      #{videoId,jdbcType=LONGVARCHAR}, #{videoCreatedTime,jdbcType=INTEGER}, #{danmuTotalNum,jdbcType=INTEGER}, 
      #{danmuSentNum,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}, #{skip,jdbcType=BOOLEAN},
      #{taskFail,jdbcType=BOOLEAN}, #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER},
      #{finishTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.github.cuteluobo.livedanmuarchive.model.DanmuSenderTaskModel" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into danmu_sender_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="platform != null">
        platform,
      </if>
      <if test="videoCreatorUid != null">
        video_creator_uid,
      </if>
      <if test="videoId != null">
        video_id,
      </if>
      <if test="videoCreatedTime != null">
        video_created_time,
      </if>
      <if test="danmuTotalNum != null">
        danmu_total_num,
      </if>
      <if test="danmuSentNum != null">
        danmu_sent_num,
      </if>
      <if test="pageSize != null">
        page_size,
      </if>
      <if test="skip != null">
        skip,
      </if>
      <if test="taskFail != null">
        task_fail,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="platform != null">
        #{platform,jdbcType=LONGVARCHAR},
      </if>
      <if test="videoCreatorUid != null">
        #{videoCreatorUid,jdbcType=LONGVARCHAR},
      </if>
      <if test="videoId != null">
        #{videoId,jdbcType=LONGVARCHAR},
      </if>
      <if test="videoCreatedTime != null">
        #{videoCreatedTime,jdbcType=INTEGER},
      </if>
      <if test="danmuTotalNum != null">
        #{danmuTotalNum,jdbcType=INTEGER},
      </if>
      <if test="danmuSentNum != null">
        #{danmuSentNum,jdbcType=INTEGER},
      </if>
      <if test="pageSize != null">
        #{pageSize,jdbcType=INTEGER},
      </if>
      <if test="skip != null">
        #{skip,jdbcType=BOOLEAN},
      </if>
      <if test="taskFail != null">
        #{taskFail,jdbcType=BOOLEAN},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.cuteluobo.livedanmuarchive.model.DanmuSenderTaskModel">
    <!--@mbg.generated-->
    update danmu_sender_task
    <set>
      <if test="platform != null">
        platform = #{platform,jdbcType=LONGVARCHAR},
      </if>
      <if test="videoCreatorUid != null">
        video_creator_uid = #{videoCreatorUid,jdbcType=LONGVARCHAR},
      </if>
      <if test="videoId != null">
        video_id = #{videoId,jdbcType=LONGVARCHAR},
      </if>
      <if test="videoCreatedTime != null">
        video_created_time = #{videoCreatedTime,jdbcType=BIGINT},
      </if>
      <if test="danmuTotalNum != null">
        danmu_total_num = #{danmuTotalNum,jdbcType=INTEGER},
      </if>
      <if test="danmuSentNum != null">
        danmu_sent_num = #{danmuSentNum,jdbcType=INTEGER},
      </if>
      <if test="pageSize != null">
        page_size = #{pageSize,jdbcType=INTEGER},
      </if>
      <if test="skip != null">
        skip = #{skip,jdbcType=BOOLEAN},
      </if>
      <if test="taskFail != null">
        task_fail = #{taskFail,jdbcType=BOOLEAN},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="finishTime != null">
        finish_time = #{finishTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.cuteluobo.livedanmuarchive.model.DanmuSenderTaskModel">
    <!--@mbg.generated-->
    update danmu_sender_task
    set platform = #{platform,jdbcType=LONGVARCHAR},
      video_creator_uid = #{videoCreatorUid,jdbcType=LONGVARCHAR},
      video_id = #{videoId,jdbcType=LONGVARCHAR},
      video_created_time = #{videoCreatedTime,jdbcType=BIGINT},
      danmu_total_num = #{danmuTotalNum,jdbcType=INTEGER},
      danmu_sent_num = #{danmuSentNum,jdbcType=INTEGER},
      page_size = #{pageSize,jdbcType=INTEGER},
      skip = #{skip,jdbcType=BOOLEAN},
      task_fail = #{taskFail,jdbcType=BOOLEAN},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      finish_time = #{finishTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
<!--  <select id="selectListByFlag" resultMap="BaseResultMap">-->
<!--    SELECT * FROM danmu_sender_task WHERE skip = #{skip,jdbcType=BOOLEAN}-->
<!--    AND task_fail = #{taskFail,jdbcType=BOOLEAN}-->
<!--    <choose>-->
<!--      <when test="finish">-->
<!--      AND finish_time IS NOT NULL-->
<!--      </when>-->
<!--      <otherwise>AND finish_time IS NULL </otherwise>-->
<!--    </choose>-->
<!--  ORDER BY create_time DESC LIMIT #{limit}-->
<!--  </select>-->

  <select id="selectListBySelector" parameterType="com.github.cuteluobo.livedanmuarchive.dto.DanMuSenderTaskSelector" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM  danmu_sender_task
    <where>
      <include refid="listModelBySelectorBaseSelectSql"/>
    </where>
  </select>

  <sql id = "listModelBySelectorBaseSelectSql">
    <if test="selector.id!=null">
      id = #{selector.id}
    </if>
    <if test="selector.platform!=null">
      AND platform = #{selector.platform}
    </if>
    <if test="selector.videoCreatorUid!=null">
      AND video_creator_uid = #{selector.videoCreatorUid}
    </if>
    <if test="selector.videoId!=null">
      AND video_id = #{selector.videoId}
    </if>
    <if test="selector.danmuTotalNum!=null">
      AND danmu_total_num = #{selector.danmuTotalNum}
    </if>
    <if test="selector.danmuSentNum!=null">
      AND danmu_sent_num = #{selector.danmuSentNum}
    </if>
    <if test="selector.pageSize!=null">
      AND page_size = #{selector.pageSize}
    </if>
    <if test="selector.skip!=null">
      AND skip = #{selector.skip}
    </if>
    <if test="selector.taskFail!=null">
      AND task_fail = #{selector.taskFail}
    </if>
    <choose>

      <when test="selector.videoCreatedTime!=null">
        AND video_created_time = #{selector.videoCreatedTime}
      </when>

      <otherwise>
        <choose>
          <when test="selector.startVideoCreatedTime!=null and selector.endVideoCreatedTime!=null">
            AND video_created_time BETWEEN #{selector.startVideoCreatedTime,jdbcType=BIGINT} AND #{selector.endVideoCreatedTime,jdbcType=BIGINT}
          </when>
          <otherwise>
            <if test="selector.startVideoCreatedTime!=null">
              AND video_created_time > #{selector.startVideoCreatedTime,jdbcType=BIGINT}
            </if>
            <if test="selector.endVideoCreatedTime!=null">
              AND video_created_time &lt; #{selector.endVideoCreatedTime,jdbcType=BIGINT}
            </if>
          </otherwise>
        </choose>
      </otherwise>
    </choose>

    <choose>

      <when test="selector.createTime!=null">
        AND create_time = #{selector.createTime}
      </when>

      <otherwise>
        <choose>
          <when test="selector.startCreateTime!=null and selector.endCreateTime!=null">
            AND create_time BETWEEN #{selector.startCreateTime,jdbcType=BIGINT} AND #{selector.endCreateTime,jdbcType=BIGINT}
          </when>
          <otherwise>
            <if test="selector.startCreateTime!=null">
              AND create_time > #{selector.startCreateTime,jdbcType=BIGINT}
            </if>
            <if test="selector.endCreateTime!=null">
              AND create_time &lt; #{selector.endCreateTime,jdbcType=BIGINT}
            </if>
          </otherwise>
        </choose>
      </otherwise>
    </choose>
    <choose>

      <when test="selector.updateTime!=null">
        AND update_time = #{selector.updateTime}
      </when>

      <otherwise>
        <choose>
          <when test="selector.startUpdateTime!=null and selector.endUpdateTime!=null">
            AND update_time BETWEEN #{selector.startUpdateTime,jdbcType=BIGINT} AND #{selector.endUpdateTime,jdbcType=BIGINT}
          </when>
          <otherwise>
            <if test="selector.startUpdateTime!=null">
              AND update_time > #{selector.startUpdateTime,jdbcType=BIGINT}
            </if>
            <if test="selector.endUpdateTime!=null">
              AND update_time &lt; #{selector.endUpdateTime,jdbcType=BIGINT}
            </if>
          </otherwise>
        </choose>
      </otherwise>
    </choose>
    <choose>

      <when test="selector.finishTime!=null">
        AND finish_time = #{selector.finishTime}
      </when>

      <otherwise>
        <choose>
          <when test="selector.startFinishTime!=null and selector.endFinishTime!=null">
            AND finish_time BETWEEN #{selector.startFinishTime,jdbcType=BIGINT} AND #{selector.endFinishTime,jdbcType=BIGINT}
          </when>
          <otherwise>
            <if test="selector.startFinishTime!=null">
              AND finish_time > #{selector.startFinishTime,jdbcType=BIGINT}
            </if>
            <if test="selector.endFinishTime!=null">
              AND finish_time &lt; #{selector.endFinishTime,jdbcType=BIGINT}
            </if>
            <if test="selector.finishTime==0">
              AND finish_time IS NULL
            </if>
          </otherwise>
        </choose>
      </otherwise>
    </choose>
  </sql>
</mapper>